<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!--<div class="container">-->
<!--  <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->
<!--  <div> <div>-->
<!--    <form th:object="${reservationSearch}" class="form-inline">-->
<!--      <div class="form-group mb-2">-->
<!--        <input type="text" th:field="*{patientName}" class="form- control" placeholder="환자명"/>-->
<!--      </div>-->
<!--      <div class="form-group mx-sm-1 mb-2">-->
<!--        <select th:field="*{reservationStatus}" class="form-control"> <option value="">예약상태</option>-->
<!--          <option th:each=-->
<!--                          "status : ${T(hospital.hongik.domain.ReservationStatus).values()}"-->
<!--                  th:value="${status}"-->
<!--                  th:text="${status}">option-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary mb-2">검색</button> </form>-->
<!--  </div>-->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th> <th>상태</th> <th>예약 날짜</th> <th>환자명</th> <th>의사명</th>  <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.status}"></td>
        <td th:text="${reservation.time}"></td>

        <td th:each="patientReservation : ${patientReservations}"
            th:if="${patientReservation.reservation.id == reservation.id}"
            th:text="${patientReservation.patient.name}"></td>

        <td th:each="doctorReservation : ${doctorReservations}"
            th:if="${doctorReservation.reservation.id == reservation.id}"
            th:text="${doctorReservation.doctor.name}"></td>

        <td>
          <a th:if="${reservation.status.name() == 'READY'}" href="#"
             th:href="'javascript:cancel('+${reservation.id}+')'"
             class="btn btn-danger">CANCEL</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
  function cancel(id) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/reservations/" + id + "/cancel");
    document.body.appendChild(form);
    form.submit();
  } </script>
</html>
